# Target
TARGET_API_BASE_URL="https:your-website"
TARGET_API_ACCOUNT_UID="your-account-uid"
TARGET_API_DATASET_UID_INAPROC="your-dataset-uid-for-inaproc"
TARGET_API_DATASET_UID_WORLDBANK="your-dataset-uid-for-worldbank"
TARGET_API_TOKEN="your-api-token-here"

TARGET_API_INSERT_PATH=/api/v1/accounts/{account_uid}/datasets/{dataset_uid}/data
TARGET_API_TIMEOUT_SECONDS=30

# Source: Inaproc
INAPROC_GRAPHQL_URL=https://daftar-hitam.inaproc.id/graphql
INAPROC_TIMEOUT_SECONDS=30

# Source: World Bank
WORLDBANK_API_URL=https://apigwext.worldbank.org/dvsvc/v1.0/json/APPLICATION/ADOBE_EXPRNCE_MGR/FIRM/SANCTIONED_FIRM
WORLDBANK_API_KEY="your-worldbank-api-key-here"
WORLDBANK_TIMEOUT_SECONDS=30
